<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<style>
    .row {
    margin-bottom: 125px;
    margin-top: 10px;
    }

    h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    }

</style>

<div class="container-fluid">

    {{#each articles }}
        <div class="row">
            <div class="col-sm-3">
                {{#thumbnail}}
                    <a href="{{href}}"><img class="img-responsive" width=300 src="{{src}}"/></a>
                {{/thumbnail}}
            </div>
            <div class="col-sm-5">
                <h4><a href="{{href}}">{{title}}</a></h4>
                <em>
                    <small>{{ added_date }} {{#if authors}}- {{authors}}{{/if}}</small>
                </em>
                {{#each tags }}
                    {{#with this}}
                        <span class="label label-default">{{this}}</span>
                    {{/with}}
                {{/each}}<br/>
                <!-- <small><a href="{{href}}">{{href}}</a></small>-->
                {{ excerpt }}
            </div>
        </div>
    {{/each}}
</div>

{{#empty}}
    <p>Error: no articles found to output.</p>
{{/empty}}


</body>
</html>